<ActionBar class="bg">
        <StackLayout>
                <GridLayout columns="auto, *" rows="30" width="100%" height="100%">
                        <Label row="0" col="0" class="mdi" [text]="'mdi-arrow-back' | fonticon" (tap) = "toBack()"></Label>
                        <label row="0" col="1" class="setCenter w Cloud-Lights" [text]='"ยาโรค" + diseases.name'></label>
                </GridLayout>
        </StackLayout>
</ActionBar>

<StackLayout>
<ListView [items]="medicine" (itemTap)="onItemTap($event)">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout class="mtop" [class.odd]="odd" [class.even]="even">
                <GridLayout *ngIf = "checkType(item.type)" columns="10, 200, *" rows="15, 25, 25, 30" width="100%" height="100%">
                    <label row="0" col="0" text=""></label>
                    <Label row="1" col="1" class = "Cloud-Light black" [text]='item.namee'></Label>
                    <label row="2" col="2" class = "Cloud-Light2 setCenter" text="รายละเอียด"></label>
                    <Label row="2" col="1" class = "Cloud-Light2 black" [text]='item.namet'></Label>
                    <Label row="3" col="1" class = "Cloud-Light2" [text]='"# " + item.type'></Label>
                </GridLayout>  
            </StackLayout>
        </ng-template>
</ListView>               
</StackLayout>