<Page>
    <ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="Cloud-Light" *ngIf="isLoading">

    <StackLayout class="StackBg">
            <Label text = "+ สร้างบัญชี" style="color :white" class="marginRight marginTop sizeFontR" [nsRouterLink]="['../registerAccount']"></Label>
        <Image class = "sizePicture" src="~/images/newbaner.png"></Image>
    </StackLayout>
    
    <StackLayout class="Cloud-Light">
        <TextField keyboardType = "number" [(ngModel)]="idp.username" hint="หมายเลข HN" class = "sizeInput marginTop"></TextField>
        <TextField secure = "true" [(ngModel)]="idp.password" hint="รหัสผ่าน" class = "sizeInput"></TextField>
        <Button class="btn btn-primary sizeLogin Cloud-Light" text = "เข้าสู่ระบบ" (tap) = "checkLogin()"></Button>
        <Label text = "ผู้ป่วยใหม่?" class="marginMiddle sizeFont" style="color: rgb(48, 97, 150);" [nsRouterLink]="['../newPatient']"></Label>
    </StackLayout>

</StackLayout>
<StackLayout sdkExampleTitle sdkToggleNavButton horizontalAlignment="center" verticalAlignment="center" *ngIf="!isLoading">
        <!-- >> activity-indicator-setting-busy-html -->
        <ActivityIndicator #activityIndicator busy="true" width="100" height="100" class="activity-indicator textgray"></ActivityIndicator>
        <!-- << activity-indicator-setting-busy-html -->
</StackLayout>
    </ScrollView>
</Page>


