<sidebar #sidebar></sidebar>

<StackLayout *ngIf="isLoading">
<WrapLayout class="fix" orientation="horizontal">
                

        <WrapLayout orientation="horizontal" width="100%" class="bg">
                <label height="15"></label>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="2.5%" class="bg">
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="25%" class="bg">
                <Label class="mdi" [text]="'mdi-menu' | fonticon" (tap) = "openDrawer()"></Label>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="2.5%" class="bg">
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="70%" class="bg">

                <WrapLayout orientation="horizontal" width="100%" class="bg">
                        <label height="7"></label>
                </WrapLayout>

                <WrapLayout orientation="horizontal" width="100%" class="bg" (tap) = "toHome()">
                        <label class = "Cloud-Lights" text="BHUBEJHR CARE" style="color: white;"></label>   
                </WrapLayout>

        </WrapLayout>

        <WrapLayout orientation="horizontal" width="100%" class="bg">
                <label height="15"></label>
        </WrapLayout>
</WrapLayout>
<!-- <label [text]="labelHN" class="bgLabel Cloud-Lights"></label>
<label [text]="labelName" class="Cloud-Lights"></label>
<label [text]="labelLastName" class="bgLabel Cloud-Lights"></label>
<label [text]="labelGender"  class="Cloud-Lights"></label>
<label [text]="labelBirthday" class="bgLabel Cloud-Lights"></label>
<label [text]="labelID"  class="Cloud-Lights"></label>
<label [text]="labelNation" class="bgLabel Cloud-Lights"></label>
<label [text]="labelAddress"  class="Cloud-Lights"></label>
<label [text]="labelPhone" class="bgLabel Cloud-Lights"></label> -->
<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="70%">
                        <Label text="หมายเลขผู้ป่วย"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="20%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.hn"></Label>                   
                 </WrapLayout>
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="70%">
                        <Label text="ชื่อ"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="20%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.fname"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="70%">
                        <Label text="นามสกุล"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="20%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.lname"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="70%">
                        <Label text="เพศ"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="20%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.gender"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="70%">
                        <Label text="วันเกิด"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="20%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.dob"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="60%">
                        <Label text="หมายเลขบัตรประชาชน"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="30%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.cid"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="70%">
                        <Label text="สัญชาติ"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="20%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.nationality"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="10%">
                        <Label text="ที่อยู่"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="80%">
                        <Label class="Cloud-Light" [text]="dataUser.dataset.address"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<WrapLayout width="100%">
                <WrapLayout width="100%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout width="5%">
                        <Label text=" "></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="65%">
                        <Label text="โทรศัพท์"></Label>                   
                </WrapLayout>
                <WrapLayout class="bdb" width="25%">
                        <Label class="Cloud-Light textMargin" [text]="dataUser.dataset.tel"></Label>                   
                 </WrapLayout> 
</WrapLayout>

<Label text=" "></Label>
<Label text=" "></Label>
<Label text=" "></Label>
<Image class="img" [src]="barcode" ></Image>      
          
</StackLayout>

<StackLayout sdkExampleTitle sdkToggleNavButton horizontalAlignment="center" verticalAlignment="center" *ngIf="!isLoading">
             
                <ActivityIndicator #activityIndicator busy="true" width="100" height="100" class="activity-indicator textgray"></ActivityIndicator>
                
</StackLayout>
