<StackLayout class="Cloud-Light">
        <Label text = "ตั้งรหัสผ่านภูเบศรแคร์" class="labelTitle sizeFontTitle fontBlack"></Label>
        <TextField secure = "true" [(ngModel)]="password" hint="รหัสผ่าน" class="sizeInput sizeFont" maxLength="13"></TextField>
        <TextField secure = "true" [(ngModel)]="samePassword" hint="ยืนยันรหัสผ่าน" class="sizeInput sizeFont" maxLength="13"></TextField>
        <Button class="btn btn-primary Button Cloud-Light sizeFont" text = "ลงทะเบียน" (tap)="checkPassword()"></Button>
    </StackLayout>