<Page>
        <ScrollView sdkExampleTitle sdkToggleNavButton>
      <StackLayout class="Cloud-Light">
    
            <StackLayout class="StackBgColor">
                    <Image class = "sizePicture" src="~/images/logo app.png"></Image>
                    <Label class = "title" style = "color:white" text = "ข้อมูลการลงทะเบียนถูกส่ง"></Label>
                    <Label class = "title" style = "color:white" text = "ไปยังโรงพยาบาลเรียบร้อยแล้ว"></Label>
                
                    <StackLayout class="boxBg">
                        <Label text = ""></Label>
                        <Label class ="titleLabel"  text = "รอการยืนยันการลงทะเบียนจากโรงพยาบาล"></Label>
                        <Label class ="titleLabel"  text = "ท่านสามารถตรวจสอบผลการลงทะเบียนได้"></Label>
                        <Label class ="titleLabel"  text = "โดยไปที่หน้าแรกของแอปพลิเคชั่นและเข้าไปที่"></Label>
                        <Label class ="titleLabel"  text = "เมนูผู้ป่วยใหม่ และตรวจสอบการลงทะบียน"></Label>
                        <Label text = ""></Label>
                    </StackLayout>
                        <Label text = ""></Label>
            </StackLayout>
    
                <StackLayout class="StackBgColor">
                    <StackLayout class=""> 
                <Button class="btn btn-primary Button Cloud-Light" text = "กลับหน้าแรก" (tap) = "nextTo()" ></Button>
                    </StackLayout>
                </StackLayout>

                <StackLayout class="StackBgColor">
                        <StackLayout class="">
                            <Label text = ""></Label>
            
                </StackLayout>
                <Label text = ""></Label>
                </StackLayout>
                <StackLayout class="StackBgColor">
                        <StackLayout class="">
                            <Label text = ""></Label>
            
                </StackLayout>
                <Label text = ""></Label>
                </StackLayout>
    
                <StackLayout class="StackBgColor">
                    <StackLayout class="">
                        <Label text = ""></Label>
        
            </StackLayout>
            <Label text = ""></Label>
            </StackLayout>
    
            <StackLayout class="StackBgColor">
                <StackLayout class="">
                    <Label text = ""></Label>
    
        </StackLayout>
        <Label text = ""></Label>
        </StackLayout>
    
        <StackLayout class="StackBgColor">
            <StackLayout class="">
                <Label text = ""></Label>
    
    </StackLayout>
    <Label text = ""></Label>
    </StackLayout>
    
    <StackLayout class="StackBgColor">
        <StackLayout class="">
            <Label text = ""></Label>
    
    </StackLayout>
    <Label text = ""></Label>
    </StackLayout>
    
    <StackLayout class="StackBgColor">
                <StackLayout class="">
                    <Label text = ""></Label>
    
        </StackLayout>
        <Label text = ""></Label>
        </StackLayout>
    
            </StackLayout>
        </ScrollView>
        </Page>
    
    
    