.Cloud-LightTitle {
    font-family: "Cloud-Light" ;
    font-weight: 700;
    font-size: 18px;
}
.Cloud-LightTin {
    font-family: "Cloud-Light" ;
    font-weight: 500;
    font-size: 17px;
}
.black {
    color: black;
}