.sizeInput {
    width: 80%;
    font-size: 16px;
    margin-top: 40px;
}
.Button {
    width: 30%;
    font-size: 16px;
    background-color: #327066;
    margin-left: 54%;
}
.sizeFont {
    font-size: 18px;
}
.Cloud-Light {
    font-family: "Cloud-Light" ;
    font-weight: 800;
}
.labelTitle {
    margin-left: 11% ;
    margin-top: 80px ;
}
.fontBlack {
    color: black ;
}
.sizeFontTitle {
    font-size: 20px;
}
.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
    font-size: 24px;
    color: black;
  }
.setCenter {
    text-align: center ;
}
.b {
    color: black;
}
.Cloud-Lights {
    font-family: "Cloud-Light" ;
    font-weight: 800;
    font-size: 20px;
}
