.StackBg {
    background-color: #00352c;
  }
  .Cloud-Light {
    font-family: "Cloud-Light" ;
    font-weight: 800;
}
.sizeFontTitle {
    font-size: 24px;
}
.labelTitle {
    margin-left: 11% ;
    margin-top: 80px ;
}
.marginMiddle {
    margin-top: 15px;
    text-align: center;
}
.marginBottom {
    margin-bottom: 70px;
}
.sizeFontR {
    font-size: 20px;
}
.sizePictureRegister {
    margin-top: 95px;
    height: 50%;
    width: 50%;
}