<sidebar #sidebar></sidebar>

<StackLayout *ngIf="isLoading">
<WrapLayout class="fix" orientation="horizontal">
                

        <WrapLayout orientation="horizontal" width="100%" class="bg">
                <label height="15"></label>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="2.5%" class="bg">
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="25%" class="bg">
                <Label class="mdi" [text]="'mdi-menu' | fonticon" (tap) = "openDrawer()"></Label>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="2.5%" class="bg">
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="70%" class="bg">

                <WrapLayout orientation="horizontal" width="100%" class="bg">
                        <label height="7"></label>
                </WrapLayout>

                <WrapLayout orientation="horizontal" width="100%" class="bg" (tap) = "toHome()">
                        <label class = "Cloud-Lights" text="BHUBEJHR CARE" style="color: white;"></label>   
                </WrapLayout>

        </WrapLayout>

        <WrapLayout orientation="horizontal" width="100%" class="bg">
                <label height="15"></label>
        </WrapLayout>

        

</WrapLayout>         
        <WrapLayout width="100%">

                <WrapLayout class="bdb" width="33.3%" (tap) = "toProfileUser()">
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                        <WrapLayout width="100%" >
                                <Image  class="imgSize" src="~/images/profile.jpg" ></Image>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label  class="Cloud-Light2" text="ประวัติส่วนตัว"></label>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                </WrapLayout>
                <WrapLayout class="bdr bdl bdb" width="33.3%" (tap) = "tobeContinue()">
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <Image class="imgSize" src="~/images/blood.jpg" ></Image>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label class="Cloud-Light" text="ผลเลือด"></label>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                </WrapLayout>
                <WrapLayout class="bdb" width="33.5%" (tap) = "tobeContinue()">
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <Image class="imgSize" src="~/images/hyper.jpg" ></Image>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label class="Cloud-Light" text="ความดัน"></label>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                </WrapLayout>

                <WrapLayout class="bdb" width="33.3%" (tap) = "tobeContinue()">
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <Image class="imgSize" src="~/images/medecine.jpg" ></Image>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label class="Cloud-Light2" text="ยาและวิธีการใช้"></label>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                </WrapLayout>
                <WrapLayout class="bdr bdl bdb" width="33.3%" (tap) = "tobeContinue()">
                        <WrapLayout width="100%">
                        <label  height="24"></label>         
                        </WrapLayout>
                         <WrapLayout width="100%">
                                <Image class="imgSize" src="~/images/pay.jpg" ></Image>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label class="Cloud-Light" text="ค่าใช้จ่าย"></label>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                </WrapLayout>
                <WrapLayout class="bdb" width="33.5%" (tap) = "tobeContinue()">
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <Image class="imgSize" src="~/images/meet.jpg" ></Image>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label class="Cloud-Light" text="นัดแพทย์"></label>
                        </WrapLayout>
                        <WrapLayout width="100%">
                                <label  height="24"></label>         
                        </WrapLayout>
                </WrapLayout>

                <WrapLayout class="bdb" width="33.3%" (tap) = "news()">
                                <WrapLayout width="100%">
                                        <label  height="24"></label>         
                                </WrapLayout>
                                <WrapLayout width="100%">
                                        <Image class="imgSize" src="~/images/news.png" ></Image>
                                </WrapLayout>
                                <WrapLayout width="100%">
                                        <label class="Cloud-Light" text="ข่าวสาร"></label>
                                </WrapLayout>
                                <WrapLayout width="100%">
                                        <label  height="24"></label>         
                                </WrapLayout>
                        </WrapLayout>
                        <WrapLayout class="bdr bdl bdb" width="33.3%" (tap) = "web()">
                                <WrapLayout width="100%">
                                <label  height="24"></label>         
                                </WrapLayout>
                                 <WrapLayout width="100%">
                                        <Image class="imgSize" src="~/images/www.jpg" ></Image>
                                </WrapLayout>
                                <WrapLayout width="100%">
                                        <label class="Cloud-Light" text="เว็บไซต์"></label>
                                </WrapLayout>
                                <WrapLayout width="100%">
                                        <label  height="24"></label>         
                                </WrapLayout>
                        </WrapLayout>
        

        </WrapLayout>
               
<Image class = "opa" src="~/images/hos.jpg" ></Image>       
          
</StackLayout>
