<sidebar #sidebar></sidebar>
<StackLayout *ngIf="isLoading">
<WrapLayout orientation="horizontal">
                

        <WrapLayout orientation="horizontal" width="100%" class="bg">
                <label height="20"></label>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="2.5%" class="bg">
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="20%" class="bg">
                <Image src="~/images/logo app.png" ></Image>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="2.5%" class="bg">
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="75%" class="bg">

                <WrapLayout orientation="horizontal" width="100%" class="bg">
                        <label height="2"></label>
                </WrapLayout>

                <WrapLayout orientation="horizontal" width="100%" class="bg">
                                <label class = "Cloud-Light" text="ภูเบศรแคร์" style="color: white;"></label>
                        </WrapLayout>

                <WrapLayout orientation="horizontal" width="100%" class="bg">
                        <button text="bar" (tap) = "openDrawer()"></button>
                </WrapLayout>

        </WrapLayout>

        <WrapLayout orientation="horizontal" width="100%" class="bg">
                <label height="15"></label>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="100%" style.backgroundColor="white">
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="15%">
                        <label text=" "></label>
                        <Image src="~/images/blood.png" ></Image>
                        <WrapLayout orientation="horizontal" width="10%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="90%">
                                <label class = "Cloud-Light" text="เบาหวาน"></label>
                        </WrapLayout>
                        <label text=" "></label>
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="0.2%">
                        <label text="" height="120" width="1" backgroundColor="lightgray"></label>
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="15%">
                        <label text=" "></label>
                        <Image src="~/images/hypertension.png" ></Image>
                        <WrapLayout orientation="horizontal" width="10%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="90%">
                                <label class = "Cloud-Light" text="ความดัน"></label>
                        </WrapLayout>
                        <label text=" "></label>
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="0.2%">
                        <label text="" height="120" width="1" backgroundColor="lightgray"></label>
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="15%">
                        <label text=" "></label>
                        <Image src="~/images/fat.png" ></Image>
                        <WrapLayout orientation="horizontal" width="25%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="75%">
                                <label class = "Cloud-Light" text="ไขมัน"></label>
                        </WrapLayout>
                        <label text=" "></label>
                </WrapLayout>

        </WrapLayout>

        <WrapLayout orientation="horizontal" width="100%">
                        <label text="" height="0.7" width="100%" backgroundColor="lightgray"></label>
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="100%" style.backgroundColor="white">
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="15%">
                        <label text=" "></label>
                        <Image src="~/images/drug.png" ></Image>
                        <WrapLayout orientation="horizontal" width="40%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="60%">
                                <label class = "Cloud-Light" text="ยา"></label>
                        </WrapLayout>
                        <label text=" "></label>
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="0.2%">
                        <label text="" height="120" width="150" backgroundColor="lightgray"></label>
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="15%">
                        <label text=" "></label>
                        <Image src="~/images/pay.png" ></Image>
                        <WrapLayout orientation="horizontal" width="10%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="90%">
                                <label class = "Cloud-Light" text="ค่าใช้จ่าย"></label>
                        </WrapLayout>
                        <label text=" "></label>
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="0.2%">
                                <label text="" height="120" width="150" backgroundColor="lightgray"></label>
                </WrapLayout>
                 <WrapLayout orientation="horizontal" width="9%">
                </WrapLayout>
                <WrapLayout orientation="horizontal" width="15%">
                        <label text=" "></label>
                        <Image src="~/images/chart.png" ></Image>
                        <WrapLayout orientation="horizontal" width="25%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="75%">
                                <label class = "Cloud-Light" text="กราฟ"></label>
                        </WrapLayout>
                        <label text=" "></label>
                </WrapLayout>
        
        </WrapLayout>

        <WrapLayout orientation="horizontal" width="100%">
                        <label text="" height="0.7" width="100%" backgroundColor="lightgray"></label>
        </WrapLayout>
        
                <WrapLayout orientation="horizontal" width="100%" style.backgroundColor="white">
                        <WrapLayout orientation="horizontal" width="9%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="15%">
                                <label text=" "></label>
                                <Image src="~/images/clocks.jpg" ></Image>
                                <WrapLayout orientation="horizontal" width="10%">
                                </WrapLayout>
                                <WrapLayout orientation="horizontal" width="90%">
                                        <label class = "Cloud-Light" text="นัดหมาย"></label>
                                </WrapLayout>
                                <label text=" "></label>
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="9%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="0.2%">
                                <label text="" height="120" width="1" backgroundColor="lightgray"></label>
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="9%">
                        </WrapLayout>
                        <WrapLayout orientation="horizontal" width="15%" (tap) = "conweb()">
                                <label text=" "></label>
                                <Image src="~/images/news.png" ></Image>
                                <WrapLayout orientation="horizontal" width="15%">
                                </WrapLayout>
                                <WrapLayout orientation="horizontal" width="85%">
                                        <label class = "Cloud-Light" text="ข่าวสาร"></label>
                                </WrapLayout>
                                <label text=" "></label>
                        </WrapLayout>
                        
                        <WrapLayout orientation="horizontal" width="9%">
                        </WrapLayout>

                        <WrapLayout orientation="horizontal" width="0.2%">
                                <label text="" height="120" width="1" backgroundColor="lightgray"></label>
                        </WrapLayout>

                        <WrapLayout orientation="horizontal" width="9%" style.backgroundColor="white">
                        </WrapLayout>

                        <WrapLayout orientation="horizontal" width="15%" style.backgroundColor="white" >
                                
                        </WrapLayout>
        
                </WrapLayout>
        
                <WrapLayout orientation="horizontal" width="100%">
                                <label text="" height="0.7" width="100%" backgroundColor="lightgray"></label>
                </WrapLayout>

        

</WrapLayout>                           
</StackLayout>
<StackLayout sdkExampleTitle sdkToggleNavButton horizontalAlignment="center" verticalAlignment="center" *ngIf="!isLoading">
             
                <ActivityIndicator #activityIndicator busy="true" width="100" height="100" class="activity-indicator textgray"></ActivityIndicator>
                
</StackLayout>
