<Page>
    <ScrollView sdkExampleTitle sdkToggleNavButton>
            <StackLayout class="StackBgColor">
  <StackLayout class="Cloud-Light">

        <StackLayout class="StackBgColor">
                <Image class = "sizePicture" src="~/images/logo app.png"></Image>
                <Label class = "title" style = "color:white" text = "แบบฟอร์มเวชระเบียนออนไลน์"></Label>
                <Label text = ""></Label>
                <Label class ="titleLabel" style = "color:white" text = "Step 4/4"></Label>
                <StackLayout class="boxBg">
                
            </StackLayout>
                    
        </StackLayout>

        <StackLayout class="StackBg">
            <StackLayout class="boxBg">
                <Image [src]="image.src"></Image>
                    <Button class="btn btn-primary Cloud-Light buttonPicture" text = "เพิ่มรูปถ่าย (บัตรประชาชน)" (tap) = "tackPic()" ></Button>
                </StackLayout>
                <Label text = ""></Label>

        </StackLayout>

            <StackLayout class="StackBgColor">
                <StackLayout class="">
            <Button class="btn btn-primary Button Cloud-Light" text = "ลงทะเบียน" (tap) = "nextToSymptom()" ></Button>
                </StackLayout>
            </StackLayout>

            
        </StackLayout>
        </StackLayout>
    </ScrollView>
    </Page>


