<Page>
    <ScrollView sdkExampleTitle sdkToggleNavButton>
            <StackLayout class="StackBgColor">
  <StackLayout class="Cloud-Light" *ngIf="isLoading">

        <StackLayout class="StackBgColor">
                <Image class = "sizePicture" src="~/images/logo app.png"></Image>
                <Label class = "title" style = "color:white" text = "แบบฟอร์มเวชระเบียนออนไลน์"></Label>
                <Label text = ""></Label>
                <Label class ="titleLabel" style = "color:white" text = "Step 4/4"></Label>
                <StackLayout class="boxBg">
                
            </StackLayout>
                    
        </StackLayout>

        <StackLayout class="StackBg">
            <StackLayout class="boxBg">
                <Image [src]="image.src"></Image>
                    <Button class="btn btn-primary Cloud-Light buttonPicture" text = "เพิ่มรูปถ่าย (บัตรประชาชน)" (tap) = "tackPic()" ></Button>
                </StackLayout>
                <Label text = ""></Label>

        </StackLayout>

            <StackLayout class="StackBgColor">
                <StackLayout class="">
            <Button class="btn btn-primary Button Cloud-Light" text = "ลงทะเบียน" (tap) = "nextToSymptom()" ></Button>
                </StackLayout>
            </StackLayout>

            
        </StackLayout>
        </StackLayout>
        <StackLayout sdkExampleTitle sdkToggleNavButton horizontalAlignment="center" verticalAlignment="center" *ngIf="!isLoading">
                <!-- >> activity-indicator-setting-busy-html -->
                <ActivityIndicator #activityIndicator busy="true" width="100" height="100" class="activity-indicator textgray"></ActivityIndicator>
                <!-- << activity-indicator-setting-busy-html -->
        </StackLayout>
    </ScrollView>
    </Page>


